/* ----- CONSTANTS ----- */
:root {
    --panel-bg-light: #F1F1F1;
    --panel-bg-dark: #E7E7E7;
    --bg-grey: #333333;
    --text-orange: #FD9845;
    --panel-bg-orange: #ffddc2;
}

/* ----- FONTS ----- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Open Sans", sans-serif;
}

/*
TODO:
   Scale font size with window size
*/

body, footer {
    width: 100%;
    background-color: var(--panel-bg-light);
}

/* Prevent scrollbar on body from disappearing when modal appears */
.modal-open {
    position: fixed;
    overflow-y: scroll;
    padding-right: 0 !important;
}

.modal {
    padding-right: 0 !important;
    overflow: hidden !important;
}

.content-div {
    margin: auto;
    max-width: 1050px;
}

section p {
    font-size: x-large;
}

a, a:visited, a:link {
    color: #FD9845;
}

/* ----- NAV ----- */

#nav .navbar-brand {
    color: #fd9845;
    font-size: 1.5em;
}

#nav .nav-item .nav-link {
    color: #c5c3c3;
}

#nav .nav-item:hover .nav-link {
    color: #fd9845;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;

}

.fas.fa-bars {
    /* Mobile menu */
    color: #fd9845;
    vertical-align: -35%;
}

.bg-navbar {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(51, 51, 51)), to(rgba(51, 51, 51, 0)));
    background: linear-gradient(rgb(51, 51, 51), rgba(51, 51, 51, 0));
}

.bg-navbar.scrolled {
    background-color: var(--bg-grey);
    opacity: 1;
}

.anchor {
    display: block;
    position: relative;
    top: -112px;
    visibility: hidden;
}

/* ----- SECTION SPACING ----- */

section {
    background-color: var(--panel-bg-light);
    padding: 50px 10vw;
    width: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.heading {
    margin-bottom: 20px;
}

/* ----- TOP ----- */

#top-section {
    position: relative;
    background-color: transparent;
    color: #FD9845;
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    height: 100vh;
    min-height: 400px;
}

#top-background-container {
    padding-top: 62px;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    /*background-image: url(../assets/img/background.png);*/
    background-repeat: no-repeat;
    background-color: var(--bg-grey);
}

#title-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#title-text {
    font-size: 8vw;
    font-weight: bold;
    font-style: italic;
}

.top-info {
    font-size: 4vw;
}

#logo-div {
    padding: 15px;
}

#logo-img {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin-bottom: 15px;
    height: 30vh;
    max-height: 340px;
    position: relative;
    pointer-events: none;
}

/* ----- ABOUT ----- */

#about-section {
    background-color: var(--panel-bg-dark);
}

#about-text-div {
    border-radius: 3px;
    /*background-color: var(--panel-bg-dark);*/
}

#about-text {
    position: relative;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

#about-img-div {
    background-color: var(--panel-bg-dark);
    display: none;
    padding: 35px;
    position: relative;
}

#about-img {
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

/* ----- GALLERY ----- */

#gallery-section {
    background-color: var(--panel-bg-light);

}

.gallery-img-div {
    padding: 10px;
}

.gallery-img-div .gallery-modal-toggle {
    padding: 0;
    margin: 0;
}

.gallery-img {
    border-radius: 10px;
    width: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
    -webkit-box-shadow: 0 5px 10px #BBB;
            box-shadow: 0 5px 10px #BBB;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.gallery-img:hover {
    -webkit-transform: scale(1.025, 1.025);
            transform: scale(1.025, 1.025);
}

#modal-gallery-img {
    -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#modal-gallery-img .modal-content {
    background: transparent;
    border: none;
}

#modal-gallery-img .modal-dialog {
    height: auto;
    width: auto;
}

#modal-gallery-img .modal-body {
    padding: 0 50px;
}

#modal-gallery-img img {
    -o-object-fit: fill;
       object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

#modal-gallery-next, #modal-gallery-prev {
    top: 50%;
    position: absolute;
    margin: 0 15px;
    font-size: 30px;
    color: #FFFFFF;
    -webkit-transition: -webkit-filter 0.25s ease;
    transition: filter 0.25s ease, -webkit-filter 0.25s ease;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#modal-gallery-prev {
    left: 20px;
    -webkit-transform: translateX(-100%) translateY(-50%);
            transform: translateX(-100%) translateY(-50%);
}

#modal-gallery-next:hover, #modal-gallery-prev:hover {
    -webkit-filter: drop-shadow(0 0 10px var(--panel-bg-light));
            filter: drop-shadow(0 0 10px var(--panel-bg-light));
}

.modal-backdrop {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.modal-backdrop.show {
    opacity: 0.6;
}


/* ----- SCHEDULE ----- */

#schedule-section {
    background-color: var(--panel-bg-dark);
}

#schedule-wrapper {
    background: var(--panel-bg-light);
    border-radius: 25px;
    margin-top: 50px;
    padding: 40px;
}

#schedule-section th, #schedule-section td {
    color: #000;
    padding: 10px;
    font-size: 18px;
    vertical-align: middle;
}

#schedule-section tbody tr:not(.active):hover {
    background: #E0E0E0;
}

#schedule-section table {
    border-collapse: collapse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.sat-time, .sun-time, .th-time {
    white-space: nowrap;
    text-align: right;
}

.sat-event, .sun-event, .th-event {
    text-align: left;
}

#schedule-section .btn {
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
    background: #a6a6a6;
    border: 2px solid #a6a6a6;
    border-radius: 15px;
    color: white;
}

#schedule-section .btn:hover {
    background: transparent;
    color: #a6a6a6;
}

#schedule-section .fa-location-arrow {
    margin-right: 10px;
}

.nav-arrows {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#schedule-section .fa-arrow-circle-left, #schedule-section .fa-arrow-circle-right {
    position: relative;
    border: none;
    background: transparent;
    font-size: 35px;
    outline: none;
    margin: 30px 0;
}

#schedule-section .fa-arrow-circle-left:hover, #schedule-section .fa-arrow-circle-right:hover {
    color: #FD9845 !important;
}

#schedule-section .tr {
    cursor: pointer;
}

#schedule-section #time, #schedule-section #location {
    text-align: left;
}

#scheduleSat .schedule-event-div {
    max-height: 350px;
    overflow-y: auto;
}

#scheduleSun .schedule-event-div {
    max-height: 350px;
    overflow-y: auto;
}

#schedule-section .active {
    background: #d9d9d9;
}

#schedule-section h2:not(#schedule-detail-event) {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.schedule-footer {
    padding-top: 20px;
}

.schedule-footer * {
    text-align: center;
    font-size: medium;
    margin: 10px 0;
}

/* Scrollbar - Chrome/Safari */
.schedule-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.schedule-scrollbar::-webkit-scrollbar-track {
    background: #FAC8A2;
    border-radius: 10px;
}

.schedule-scrollbar::-webkit-scrollbar-thumb {
    background: #FD9845;
    border-radius: 10px;
}

/* Scrollbar - Firefox */
.schedule-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FD9845 #FAC8A2;
}

/* ----- FAQ ----- */

#faq-section {
}

#faq-section h3 {
    font-weight: bold;
    font-size: x-large;
}

#faq-section p {
    margin-left: 25px;
    font-size: large;
}

.faq-container, .faq-top-container {
    border-radius: 15px;
    background-color: var(--panel-bg-dark);
    padding: 20px;
    margin: 10px 0 0 0;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.faq-container *, .faq-top-container * {
    -webkit-transition: none;
    transition: none;
}

.faq-container::after, .faq-top-container::after {
    content: "";
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 5px 10px #CCC;
            box-shadow: 0 5px 10px #CCC;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
}

.faq-container:hover, .faq-top-container:hover {
    -webkit-transform: scale(1.0048, 1.0048);
            transform: scale(1.0048, 1.0048);
}

.faq-container:hover::after, .faq-top-container:hover::after {
    opacity: 1;
}

.faq-top-container {
    margin-bottom: 0;
}

.faq-container {
    width: 100%;
}

.faq-flexbox {
    width: 100%;
    margin: 0 5px;
}

/* ----- SPONSORS ----- */

#sponsors-head {
    background-color: var(--bg-grey);
    color: var(--panel-bg-light);
    text-align: center;
}

#sponsors-head .heading {
    margin-bottom: 20px;
}

#sponsors-head h4 {
    color: #CCC;
}

#sponsors-section {

}

/* ----- ORGANIZERS ----- */

#organizers-section {
    background-color: var(--panel-bg-light);
}

.organizer-img-div {
    padding: 10px;
}

.organizer-img {
    border-radius: 50%;
    width: 80%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
    -webkit-box-shadow: 0 4px 10px #BBB;
            box-shadow: 0 4px 10px #BBB;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    margin-bottom: 10px;
}

.organizer-img:hover {
    -webkit-transform: scale(1.024, 1.024);
            transform: scale(1.024, 1.024);
}

/* ----- FOOTER ----- */

footer {
    padding: 5px 0;
    position: relative;
    background-color: var(--panel-bg-light);
    text-align: center;
}

footer p {
    margin-top: 15px;
}

/* ---- SCROLL-TO-TOP BUTTON ---- */
/*#top-button {*/
/*    position: fixed;*/
/*    bottom: 35px;*/
/*    right: 35px;*/
/*    background: var(--bg-grey);*/
/*    color: var(--panel-bg-light);*/
/*    opacity: 0.9;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    display: block;*/
/*    border-radius: 50px;*/
/*    z-index: 9999;*/
/*    text-align: center;*/
/*    padding-top: 12px;*/
/*}*/

/* ---- MEDIA QUERIES ---- */

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #scheduleSat .schedule-event-div, #scheduleSun .schedule-event-div {
        max-height: 350px;
        overflow-y: auto;
    }
    #about-img-div {
        display: block;
    }
    .faq-container {
        margin: 10px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Just to make sure the title text doesn't wrap */
@media (min-width: 2250px) {
    #title-text {
        font-size: 180px;
    }
    .top-info {
        font-size: 90px;
    }
}

/* Portrait */
@media screen and (orientation: portrait) {
}

@media screen and (orientation: portrait) and (min-width: 992px) {
}

/* Landscape */
@media screen and (orientation: landscape) {
}

/*========================*/
