/* ----- CONSTANTS ----- */
:root {
    --panel-bg-light: #F1F1F1;
    --panel-bg-dark: #E7E7E7;
    --bg-grey: #333333;
    --text-orange: #FD9845;
    --panel-bg-orange: #ffddc2;
}

/* ----- FONTS ----- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Open Sans", sans-serif;
}

/*
TODO:
   Scale font size with window size
*/

body, footer {
    width: 100%;
    background-color: var(--panel-bg-light);
}

/* Prevent scrollbar on body from disappearing when modal appears */
.modal-open {
    position: fixed;
    overflow-y: scroll;
    padding-right: 0 !important;
}

.modal {
    padding-right: 0 !important;
    overflow: hidden !important;
}

.content-div {
    margin: auto;
    max-width: 1050px;
}

section p {
    font-size: x-large;
}

a, a:visited, a:link {
    color: #FD9845;
}

/* ----- NAV ----- */

#nav .navbar-brand {
    color: #fd9845;
    font-size: 1.5em;
}

#nav .nav-item .nav-link {
    color: #c5c3c3;
}

#nav .nav-item:hover .nav-link {
    background: rgb(226,61,44);
    background: -o-linear-gradient(0deg, rgba(228, 92, 77, 1) 0%, rgba(249, 117, 62, 1) 30%, rgba(249, 211, 124, 1) 74%);
    background: -moz-linear-gradient(0deg, rgba(228, 92, 77, 1) 0%, rgba(249, 117, 62, 1) 30%, rgba(249, 211, 124, 1) 74%);
    background: -webkit-linear-gradient(0deg, rgba(228,92,77,1) 0%, rgba(249,117,62,1) 30%, rgba(249,211,124,1) 74%);
    background: linear-gradient(0deg, rgba(228, 92, 77, 1) 0%, rgba(249, 117, 62, 1) 30%, rgba(249, 211, 124, 1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;

}

.fas.fa-bars {
    /* Mobile menu */
    color: #fd9845;
    vertical-align: -35%;
}

.bg-navbar {
    background: -o-linear-gradient(rgb(51, 51, 51), rgba(51, 51, 51, 0));
    background: -moz-linear-gradient(rgb(51, 51, 51), rgba(51, 51, 51, 0));
    background: -webkit-linear-gradient(rgb(51, 51, 51), rgba(51, 51, 51, 0));
    background: linear-gradient(rgb(51, 51, 51), rgba(51, 51, 51, 0));
}

.bg-navbar.scrolled {
    background-color: var(--bg-grey);
    opacity: 1;
}

.anchor {
    display: block;
    position: relative;
    top: -112px;
    visibility: hidden;
}

/* ----- SECTION SPACING ----- */

section {
    background-color: var(--panel-bg-light);
    padding: 50px 10vw;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
    /* background: -o-linear-gradient(0deg, rgba(226, 61, 44, 1) 0%, rgba(253, 106, 29, 1) 10%, rgba(252, 196, 69, 1) 70%);
    background: -moz-linear-gradient(0deg, rgba(226, 61, 44, 1) 0%, rgba(253, 106, 29, 1) 10%, rgba(252, 196, 69, 1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(226,61,44,1) 0%, rgba(253,106,29,1) 10%, rgba(252,196,69,1) 70%);
    background: linear-gradient(0deg, rgba(226, 61, 44, 1) 0%, rgba(253, 106, 29, 1) 10%, rgba(252, 196, 69, 1) 70%);
    background: rgb(222,88,71); */
    background: rgb(255,89,36);
    background: linear-gradient(0deg, rgba(255,89,36,1) 0%, rgba(255,144,36,1) 56%, rgba(255,203,122,1) 82%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headingw {
  color:white;
}

/* ----- TOP ----- */

#top-section {
    position: relative;
    background-color: transparent;
    color: #FD9845;
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    height: 100vh;
    min-height: 400px;
}

#top-background-container {
    padding-top: 62px;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    /*background-image: url(../assets/img/background.png);*/
    background-repeat: no-repeat;
    background-color: var(--bg-grey);
}

#title-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#logo-div {
    padding: 15px;
}

#logo-img {
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
    height: 340px;
    position: relative;
    pointer-events: none;
}

/* ----- ABOUT ----- */

#about-section {
  /* background: linear-gradient(180deg, rgba(255,139,102,1) 0%, rgba(255,157,62,1) 72%, rgba(255,212,146,1) 93%); */
    background-color: #FD9845;
}

#about-text, #about-img-div {
    margin: 0 20px;
    width: 50%;
    padding: 25px;
}

#about-text {
    border-radius: 3px;
    /*background-color: var(--panel-bg-dark);*/
}

#about-img-div {
    /*border-radius: 10px;*/
    /*background-color: var(--panel-bg-dark);*/
    padding: 0;
    position: relative;

}

#about-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    box-shadow: 5px 5px 15px #AAA;
}

/* ----- GALLERY ----- */

#gallery-section {
    background-color: var(--panel-bg-light);

}

.gallery-img-div {
    padding: 10px;
}

.gallery-img-div .gallery-modal-toggle {
    padding: 0;
    margin: 0;
}

.gallery-img {
    border-radius: 10px;
    width: 100%;
    object-fit: scale-down;
    box-shadow: 0 5px 10px #BBB;
    transition: all 0.25s ease-in-out;
}

.gallery-img:hover {
    transform: scale(1.025, 1.025);
}

#modal-gallery-img {
    animation-duration: 0.25s;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#modal-gallery-img .modal-content {
    background: transparent;
    border: none;
}

#modal-gallery-img .modal-dialog {
    height: auto;
    width: auto;
}

#modal-gallery-img .modal-body {
    padding: 0;
}

#modal-gallery-img img {
    object-fit: fill;
    border-radius: 15px;
}

#modal-gallery-next, #modal-gallery-prev {
    position: fixed;
    padding: 0 25px;
    font-size: 36pt;
    color: white;
    text-shadow: none;
    transition: text-shadow 0.25s ease;
}

#modal-gallery-prev-div, #modal-gallery-next-div {
    transform: translateY(50%);
}

#modal-gallery-prev {
    transform: translateX(-100%);
}

#modal-gallery-next:hover, #modal-gallery-prev:hover {
    text-shadow: 0 0 10px var(--panel-bg-light);
}

.modal-backdrop {
    opacity: 0;
    transition: opacity 0.25s ease;
}

.modal-backdrop.show {
    opacity: 0.6;
}


/* ----- SCHEDULE ----- */

#schedule-section {
    background-color: var(--panel-bg-dark);
}

#schedule-wrapper {
    /* background: var(--panel-bg-light); */
    /* background: linear-gradient(180deg, rgba(255,89,36,0.6909138655462185) 0%, rgba(255,144,36,0.7609418767507002) 66%, rgba(255,203,122,0.68531162464986) 88%); */
    background: #FD9845;
    border-radius: 25px;
    margin-top: 50px;
    padding: 40px;
}

#schedule-section th, #schedule-section td {
    color: black;
    opacity:1;
    padding: 10px;
    font-size: 18px;
    vertical-align: middle;
}

#schedule-section tbody tr:not(.active):hover {
    background: #E0E0E0;
}

#schedule-section table {
    border-collapse: collapse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.sat-time, .sun-time, .th-time {
    white-space: nowrap;
    text-align: right;
}

.sat-event, .sun-event, .th-event {
    text-align: left;
}

#schedule-section .btn {
    margin-bottom: 20px;
    width: 80%;
    font-size: 16px;
    background: transparent;
    border: 2px solid rgba(253,106,29,1);
    border-radius: 15px;
    color: rgba(253,106,29,1);
}

#schedule-section .btn:hover {
    background: rgb(228,92,77);
    background: -o-linear-gradient(90deg, rgba(228, 92, 77, 1) 0%, rgba(249, 117, 62, 1) 30%, rgba(249, 211, 124, 1) 74%);
    background: -moz-linear-gradient(90deg, rgba(228, 92, 77, 1) 0%, rgba(249, 117, 62, 1) 30%, rgba(249, 211, 124, 1) 74%);
    background: -webkit-linear-gradient(90deg, rgba(228, 92, 77, 1) 0%, rgba(249, 117, 62, 1) 30%, rgba(249, 211, 124, 1) 74%);
    background: linear-gradient(90deg, rgba(228,92,77,1) 0%, rgba(249,117,62,1) 30%, rgba(249,211,124,1) 74%);
    color: white;
}

#schedule-section .fa-location-arrow {
    margin-right: 10px;
}

.nav-arrows {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#schedule-section .fa-arrow-circle-left, #schedule-section .fa-arrow-circle-right {
    position: relative;
    border: none;
    background: transparent;
    font-size: 35px;
    outline: none;
    margin: 30px 0;
}

#schedule-section .fa-arrow-circle-left:hover, #schedule-section .fa-arrow-circle-right:hover {
    color: #FD9845 !important;
}

#schedule-section .tr {
    cursor: pointer;
}

#schedule-section #time, #schedule-section #location {
    text-align: left;
}

#scheduleSat .schedule-event-div, #scheduleSun .schedule-event-div {
    max-height: 350px;
    overflow-y: auto;
}

#schedule-section .active {
    background: #d9d9d9;
}

#schedule-section h2:not(#schedule-detail-event) {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.schedule-footer {
    padding-top: 20px;
}

.schedule-footer * {
    text-align: center;
    font-size: medium;
    margin: 10px 0;
}

/* Scrollbar - Chrome/Safari */
.schedule-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.schedule-scrollbar::-webkit-scrollbar-track {
    background: #FAC8A2;
    border-radius: 10px;
}

.schedule-scrollbar::-webkit-scrollbar-thumb {
    background: #ff6e2d;
    border-radius: 10px;
}

/* Scrollbar - Firefox */
.schedule-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FD9845 #FAC8A2;
}

/* ----- FAQ ----- */

#faq-section {
    background: linear-gradient(180deg, rgba(255,139,102,1) 0%, rgba(255,157,62,1) 72%, rgba(255,212,146,1) 93%);
}

#faq-section h3 {
    font-weight: bold;
    font-size: x-large;
}

#faq-section p {
    margin-left: 25px;
    font-size: large;
}

.faq-container, .faq-top-container {
    border-radius: 15px;
    background-color: var(--panel-bg-dark);
    opacity: 0.95;
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.25s ease-in-out;
}

.faq-container *, .faq-top-container * {
    transition: none;
}

.faq-container::after, .faq-top-container::after {
    content: "";
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #CCC;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
}

.faq-container:hover, .faq-top-container:hover {
    transform: scale(1.005, 1.005);
    opacity: 1;
}

.faq-container:hover::after, .faq-top-container:hover::after {
    opacity: 1;
}

.faq-top-container {
    margin-bottom: 0;
}

.faq-container {
    width: 100%;
}

.faq-flexbox {
    width: 50%;
    margin: 0 5px;
}

/* ----- SPONSORS ----- */

#sponsors-head {
    background-color: var(--bg-grey);
    color: var(--panel-bg-light);
    text-align: center;
}

#sponsors-head .heading {
    margin-bottom: 20px;
}

#sponsors-head h4 {
    color: #CCC;
}

#sponsors-section {

}

/* ----- ORGANIZERS ----- */

#organizers-section {
    background-color: var(--panel-bg-light);
}

/* ----- FOOTER ----- */

footer {
    padding: 5px 0;
    position: relative;
    background-color: var(--panel-bg-light);
    text-align: center;
}

/* ---- MEDIA QUERIES ---- */

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #scheduleSat .schedule-event-div, #scheduleSun .schedule-event-div {
        max-height: none;
        overflow-y: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Portrait */
@media screen and (orientation: portrait) {
}

@media screen and (orientation: portrait) and (min-width: 992px) {
}

/* Landscape */
@media screen and (orientation: landscape) {
}

/*========================*/
