/* ----- FONTS ----- */

/*
TODO:
   Scale font size with window size
*/

body {
    background-color: #f1f1f1;
    font-family: "Lato", "Open Sans", sans-serif;
}

section p {
    font-size: x-large;
}

a, a:visited, a:link {
    color: #FD9845;
}

/* ----- NAV ----- */

.navbar-brand {
    font-family: 'PT Mono', monospace;
    color: #FD9845;
    font-size: 1.5em;
}

#nav {
    background-color: #F1F1F1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9998;
    opacity: .9;
    padding: 20px;
}

/* ----- SECTION SPACING ----- */

section {
    padding: 50px 10vw;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

/* ----- TOP ----- */

#top {
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

#logo-div {
    padding: 15px;
}

#logo-img {
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
    height: 340px;
    position: relative;
    pointer-events: none;
}

/* ----- ABOUT ----- */

#about {
    background-color: #fdd4aa;
}


/* ----- SCHEDULE ----- */

#schedule {
}

/* ----- FAQ ----- */

#faq {
    background-color: #fdd4aa;
}

#faq h3 {
    margin-top: 10px;
    font-weight: bold;
}

#faq h3:hover {
    cursor: pointer;
}

#faq p {
    margin-left: 25px;
}

/* ----- ORGANIZERS ----- */

#organizers {
}

/* ----- SPONSORS ----- */

#sponsors-head {
    background-color: #333;
    color: #fff;
    text-align: center;
}

#sponsors-head .heading {
    margin-bottom: 20px;
}

#sponsors-head h4 {
    color: #CCC;
}

#sponsors {
}

/* ----- FOOTER ----- */

footer {
    text-align: center;
}
