/* ----- CONSTANTS ----- */
:root {
    --panel-bg-light: #F1F1F1;
    --panel-bg-dark: #E7E7E7;
    --bg-grey: #333333;
    --text-orange: #FD9845;
    --panel-bg-orange: #ffddc2;
}

/* ----- FONTS ----- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Open Sans", sans-serif;
}

/*
TODO:
   Scale font size with window size
*/

body, footer {
    background-color: var(--panel-bg-light);
}

.content-div {
    margin: auto;
    max-width: 1050px;
}

section p {
    font-size: x-large;
}

a, a:visited, a:link {
    color: #FD9845;
}

/* ----- NAV ----- */

#nav .navbar-brand {
    color: #fd9845;
    font-size: 1.5em;
}

#nav .nav-item .nav-link {
    color: #c5c3c3;
}

#nav .nav-item:hover .nav-link {
    color: #fd9845;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;

}

.fas.fa-bars {
    /* Mobile menu */
    color: #fd9845;
    vertical-align: -35%;
}

.bg-navbar {
    background: linear-gradient(rgb(51, 51, 51), rgba(51, 51, 51, 0));
}

.bg-navbar.scrolled {
    background-color: var(--bg-grey);
    opacity: 1;
}

.anchor {
    display: block;
    position: relative;
    top: -112px;
    visibility: hidden;
}

/* ----- SECTION SPACING ----- */

section {
    background-color: var(--panel-bg-light);
    padding: 50px 10vw;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

/* ----- TOP ----- */

#top-section {
    position: relative;
    background-color: transparent;
    color: #FD9845;
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    height: 100vh;
    min-height: 400px;
}

#top-background-container {
    padding-top: 62px;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    /*background-image: url(../assets/img/background.png);*/
    background-repeat: no-repeat;
    background-color: var(--bg-grey);
}

#title-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#logo-div {
    padding: 15px;
}

#logo-img {
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
    height: 340px;
    position: relative;
    pointer-events: none;
}

/* ----- ABOUT ----- */

#about-section {
    background-color: var(--panel-bg-dark);
}

#about-text, #about-img-div {
    margin: 0 20px;
    width: 50%;
    padding: 25px;
}

#about-text {
    border-radius: 3px;
    /*background-color: var(--panel-bg-dark);*/
}

#about-img-div {
    /*border-radius: 10px;*/
    /*background-color: var(--panel-bg-dark);*/
    padding: 0;
    position: relative;

}

#about-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    box-shadow: 5px 5px 15px #AAA;
}

/* ----- GALLERY ----- */

#gallery-section {
    background-color: var(--panel-bg-light);

}

.gallery-img-div {
    padding: 10px;
}

.gallery-img {
    border-radius: 10px;
    width: 100%;
    object-fit: scale-down;
    box-shadow: 0 5px 10px #BBB;
    transition: all 0.25s ease-in-out;
}

.gallery-img:hover {
    transform: scale(1.025, 1.025);
}


/* ----- SCHEDULE ----- */

#schedule-section {
    background-color: var(--panel-bg-dark);
}

/* ----- FAQ ----- */

#faq-section {
}

#faq-section h3 {
    font-weight: bold;
    font-size: x-large;
}

#faq-section p {
    margin-left: 25px;
    font-size: large;
}

.faq-container, .faq-top-container {
    border-radius: 15px;
    background-color: var(--panel-bg-dark);
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.25s ease-in-out;
}

.faq-container *, .faq-top-container * {
    transition: none;
}

.faq-container::after, .faq-top-container::after {
    content: "";
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #CCC;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
}

.faq-container:hover, .faq-top-container:hover {
    transform: scale(1.005, 1.005);
}

.faq-container:hover::after, .faq-top-container:hover::after {
    opacity: 1;
}

.faq-top-container {
    margin-bottom: 0;
}

.faq-container {
    width: 100%;
}

.faq-flexbox {
    width: 50%;
    margin: 0 5px;
}

/* ----- SPONSORS ----- */

#sponsors-head {
    background-color: var(--bg-grey);
    color: var(--panel-bg-light);
    text-align: center;
}

#sponsors-head .heading {
    margin-bottom: 20px;
}

#sponsors-head h4 {
    color: #CCC;
}

#sponsors-section {

}

/* ----- ORGANIZERS ----- */

#organizers-section {
    background-color: var(--panel-bg-light);
}

.organizer-img-div {
    padding: 10px;
}

.organizer-img {
    border-radius: 50%;
    width: 80%;
    object-fit: scale-down;
    box-shadow: 0 5px 10px #BBB;
    transition: all 0.25s ease-in-out;
    margin-bottom: 10px;
}

/* TODO: DECIDE WHETHER TO HAVE ANIMATION OR NOT */
/*.organizer-img:hover {*/
/*    transform: scale(1.025, 1.025);*/
/*}*/

.text-center {
    text-align: center;
}

/* ----- FOOTER ----- */

footer {
    padding: 5px 0;
    position: relative;
    background-color: var(--panel-bg-light);
    text-align: center;
}

/* ---- MEDIA QUERIES ---- */

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Portrait */
@media screen and (orientation: portrait) {
}

@media screen and (orientation: portrait) and (min-width: 992px) {
}

/* Landscape */
@media screen and (orientation: landscape) {
}

/*========================*/
