/* ----- CONSTANTS ----- */
:root {
    --panel-bg-light: #F1F1F1;
    --panel-bg-dark: #E7E7E7;
    --bg-grey: #333333;
    --text-orange: #FD9845;

}

/* ----- FONTS ----- */
h1, h2, h3, h4, h5, h6 {
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Open Sans", sans-serif;
}

/*
TODO:
   Scale font size with window size
*/

body, footer {
    background-color: var(--panel-bg-light);
}

.content-div {
    margin: auto;
    max-width: 1000px;
}

section p {
    font-size: x-large;
}

a, a:visited, a:link {
    color: #FD9845;
}

/* ----- NAV ----- */

.navbar-brand {
    color: #FD9845;
    font-size: 1.5em;
}

#nav {
    background-color: var(--panel-bg-light);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    opacity: .9;
}

/* ----- SECTION SPACING ----- */

section {
    background-color: var(--panel-bg-light);
    padding: 50px 10vw;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

/* ----- TOP ----- */

#top {
    position: relative;
    background-color: transparent;
    color: #FD9845;
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    height: 100vh;
    min-height: 400px;
}

#top-background-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url(../assets/img/background.png);
    background-repeat: repeat;
}

#title-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#logo-div {
    padding: 15px;
}

#logo-img {
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
    height: 340px;
    position: relative;
    pointer-events: none;
}

/* ----- ABOUT ----- */

#about {
}


/* ----- SCHEDULE ----- */

#schedule {
    background-color: var(--panel-bg-dark);
}

/* ----- FAQ ----- */

#faq {
}

#faq-content .row {
    padding-bottom: 30px;
}

#faq-content .block {
    padding: 0 30px;
}

#faq h3 {
    margin-top: 10px;
    font-weight: bold;
}

#faq h3:hover {
    cursor: pointer;
}

#faq p {
    margin-left: 25px;
}

/* ----- SPONSORS ----- */

#sponsors-head {
    background-color: var(--bg-grey);
    color: var(--panel-bg-light);
    text-align: center;
}

#sponsors-head .heading {
    margin-bottom: 20px;
}

#sponsors-head h4 {
    color: #CCC;
}

#sponsors {

}

/* ----- ORGANIZERS ----- */

#organizers {
    background-color: var(--panel-bg-light);
}

/* ----- FOOTER ----- */

footer {
    padding: 5px 0;
    position: relative;
    background-color: var(--panel-bg-light);
    text-align: center;
}

/* ---- MEDIA QUERIES ---- */

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Portrait */
@media screen and (orientation: portrait) {
}

@media screen and (orientation: portrait) and (min-width: 992px) {
}

/* Landscape */
@media screen and (orientation: landscape) {
}

/*========================*/
