/* ----- FONTS ----- */
/*
TODO:
   Scale font size with window size
*/

body {
    background-color: #F1F1F1;
}

section p {
    font-size: x-large;
}

a, a:visited, a:link {
    color: #FD9845;
}

/* ----- NAV ----- */

.navbar-brand {
    font-family: 'Open Sans', monospace;
    color: #FD9845;
    font-size: 1.5em;
}

#nav {
    background-color: #F1F1F1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    opacity: .9;
}

/* ----- SECTION SPACING ----- */

section {
    padding: 50px 10vw;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

/* ----- TOP ----- */

#top {
    position: relative;
    background-color: #333;
    color: #FD9845;
    margin-top: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    height: 100vh;
    min-height: 400px;
}

#title-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#logo-div {
    padding: 15px;
}

#logo-img {
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
    height: 340px;
    position: relative;
    pointer-events: none;
}

/* ----- ABOUT ----- */

#about {
}


/* ----- SCHEDULE ----- */

#schedule {
    background-color: #e7e7e7;
}

/* ----- FAQ ----- */

#faq {
}

#faq h3 {
    margin-top: 10px;
    font-weight: bold;
}

#faq h3:hover {
    cursor: pointer;
}

#faq p {
    margin-left: 25px;
}

/* ----- ORGANIZERS ----- */

#organizers {
    background-color: #e7e7e7;
}

/* ----- SPONSORS ----- */

#sponsors-head {
    background-color: #333;
    color: #fff;
    text-align: center;
}

#sponsors-head .heading {
    margin-bottom: 20px;
}

#sponsors-head h4 {
    color: #CCC;
}

#sponsors {
}

/* ----- FOOTER ----- */

footer {
    text-align: center;
}

/* ---- MEDIA QUERIES ---- */

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Portrait */
@media screen and (orientation: portrait) {
}

@media screen and (orientation: portrait) and (min-width: 992px) {
}

/* Landscape */
@media screen and (orientation: landscape) {
}

/*========================*/
